body {
    font-family: 'Arial', sans-serif;
    background-image: url('logo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top; /* Adjust the background position */
    margin: 0;
    color: #fff;
}

h1 {
    text-align: center;
}

.room-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.room-card {
    width: calc(25% - 20px);
    max-width: 120px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    padding-top: 20px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.booked {
    background-color: #e21829;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .room-card {
        width: calc(50% - 20px);
    }
}

#resetButton {
    display: block;
    margin: 20px auto; /* Center the button */
    padding: 10px 20px;
    background-color: #e21829; /* Red color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#resetButton:hover {
    background-color: #c20523; /* Darker red on hover */
}
